<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      ul.flash-messages {
        list-style-type: none;
        padding: 10px;
        margin: 10px 0;
        background-color: #f0f0f0;
        border: 1px solid #ccc;
        width: max-content;
      }

      ul.flash-messages li {
        margin-bottom: 5px;
      }
    </style>
  </head>
  <body>
    {% include 'header.html' %} {% include 'search_input.html' %} {% with
    messages = get_flashed_messages() %} {% if messages %}
    <ul class="flash-messages">
      {% for message in messages %}
      <li style="color: tomato">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}
  </body>
</html>
